*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px, 10px / 16px = 62.5%; */

}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  padding: 3rem;
  background-size: cover;
}

/* Header section */

.header {
  color: white;
  text-align: center;
  background-image: linear-gradient(to right bottom,
    rgba(164,251,237, 0.7),
    rgba(248,7,89, 0.7)),
  url('./images/hero.jpg');
  height: 35rem;
  background-size: cover;
  padding: 14rem;
}

.heading-main--large {
  font-size: 5.2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.heading-main--sub {
  font-size: 3.1rem;
  letter-spacing: .5rem;
}
